body{
    background-color: rgb(200, 113, 113);
}
h1{
    color: antiquewhite;
    text-align: center;
    
}
h2{
    color: antiquewhite;
    text-align: center;
}
h3{
    color: antiquewhite;
    text-align: center;
}
p{
    color: antiquewhite;
    font-size: x-large;
}
hr{
    border-style: none;
    border-top-style: dashed ;
    border-color: black;
    
}
p{
    color: aliceblue;
}
ul{
    color: aliceblue;
    font-size: x-large;
}
tr{
    color: aliceblue;
    font-size: x-large;
}
a{
    color: aliceblue;
}

div{
    width: 300px;
    border: 15px,20px solid rgb(11, 12, 11);
    padding: 50px;
    margin: 20px;
}
button{
    width: 100px;
    height:40px;
    background-color: aqua;
    color: black;
    font-style: oblique;
}
img{
    width: 200px;
    height: 300px;
}
label{
   color: antiquewhite;
}
.head1{
    color: antiquewhite;
}
.head2{
    color: antiquewhite;
}
.head3{
    color: antiquewhite;
